@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}



.dashboard {
    margin: 78px;
}

body {
    background-color: #f4f5fe;
}


.task_show {
    margin: 78px;
    margin-top: -55px;
    font-weight: bold;
}

.tile{
    color: #808080;
}

a {
    text-decoration: none;
    color: #007FFF;
}

.task_header {
    margin: 78px;
    margin-top: -40px;
}

.task_header1 {
    margin: 78px;
    margin-top: -40px;
    /* padding-right: 130px; */
    margin-right: 460px;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: #808080;
}

.hr {
    margin-top: -65px;
    width: 91%;
    margin-left: 76px;
}

.title_task {
    margin: 78px;
    margin-top: 20px;
    font-weight: 600;
    /* font-size: 14px; */
}

.description_task {
    margin: 78px;
    margin-top: 20px;
    margin-left: -8px;
    font-weight: 600;
}

.container_task {
    display: flex;
}

.data{
    margin-top: 20px;
    margin-left: 65px;
    font-weight: 600;
}

.time{
    margin-top: 20px;
    margin-left: 140px;
    font-weight: 600;
}

.not_done{
    margin-top: 20px;
    margin-left: 150px;
    color: red;
    font-weight: 600;
    margin-left: 149px;
}

.not_done1{
    margin-top: 20px;
    margin-left: 149px;
    font-weight: 600;
}

.not_done2{
    margin-top: 20px;
    margin-left: 150px;
    color: #007FFF;
    font-weight: 600;
    margin-left: 149px;
}